:root {
  --primary: #2cb8cd;
  --secondary: white;
  --bg: #f9fafb;
  --text: #111827;
  --muted: #6b7280;
  --card: #ffffff;
  --radius: 14px;
  --shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
  font-family: "Inter", system-ui, sans-serif;
}
th {
  color: #2cb8cd !important;
  font-weight: bold !important;
}
.rootDiv {
  width: 100%;
  height: 100%;
}
a {
  font-weight: 500;
  color: darkblue !important;
  text-decoration: inherit;
}
a:hover {
  color: rgb(79, 79, 216) !important;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
